@model mpf.Models.UserQuesAn

@{
    ViewBag.Title = "AnswerForm";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("AnswerForm", "UserAccount", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="col-md-9">
        <div class="dashboard-title   fl-wrap">
            <h3>Add Blog</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">


                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="Question" class="form-control" />
                  @*  *@
                        </div>
                    </div>
                    @*<div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Answer, new { id = "editor" })

                                <script>
                                    CKEDITOR.replace('editor');
                                </script>
                                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@

                </div>

                <br /><br />
            </div>
            <button type="submit" class="btn  color-bg btn-d" style="padding: 12px 31px 12px 25px; background: #384F95; ">Submit</button>

        </div>
    </div>
}
