
@{
    ViewBag.Title = "QuestionsPage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>QuestionsPage</h2>


@using (Html.BeginForm("QuestionPage", "UserAccount", FormMethod.Post))
{
    @Html.AntiForgeryToken();
<div class="col-md-9">
    <div class="dashboard-title   fl-wrap">
        <h3>Your Listings</h3>
    </div>
    <!-- dashboard-list-box-->
    <div class="dashboard-list-box  fl-wrap">
        <!-- dashboard-list -->
        @foreach (var item in ViewBag.Queslist)
        {
        <div class="dashboard-list fl-wrap">
            <div class="dashboard-message">
                <div class="booking-list-contr">
                    @Html.ActionLink("Reply","AnswerForm", new { id = item.id })
                    <a href="#" class="color-bg tolt" data-microtip-position="left" data-tooltip="Edit"><i class="fal fa-edit"></i></a>
                    <a href="#" class="red-bg tolt" data-microtip-position="left" data-tooltip="Delete"><i class="fal fa-trash"></i></a>
                </div>
                <div class="dashboard-message-text">
                    <img src="images/all/1.jpg" alt="">
                    <h4><a href="listing-single.html">@item.Question</a></h4>
                </div>
            </div>
        </div>
        }
        <!-- dashboard-list end-->
   
        <!-- dashboard-list end-->
    </div>
    <!-- dashboard-list-box end-->
    <div class="pagination">
        <a href="#" class="prevposts-link"><i class="fas fa-caret-left"></i><span>Prev</span></a>
        <a href="#">1</a>
        <a href="#" class="current-page">2</a>
        <a href="#">3</a>
        <a href="#">...</a>
        <a href="#">7</a>
        <a href="#" class="nextposts-link"><span>Next</span><i class="fas fa-caret-right"></i></a>
    </div>
</div>
}